{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principais cidades</title>

    <link rel="stylesheet" href="{% static './css/reset.css' %}">
    <link rel="shortcut icon" href="{%static './icon/favicon-16x16.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{%static './css/estilo.css'%}">
    <script src="{% static './js/mobile-navbar.js' %}"></script>
</head>

<body class="page-model">

    <header class="topo">

        <div class="container">

            <h1>CashToYou</h1>

            <nav>

                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/sobre/">Sobre</a></li>
                    <li><a href="/comofunciona/">Como funciona</a></li>
                    <li><a href="/perguntas/">Perguntas frequentes</a></li>
                    <li><a href="/principais-cidades/">Principais cidades</a></li>
                    <li><a href="/acesso/conta/"><button>Acesso</button></a></li>
                </ul>

            </nav>

        </div>
    </header>


    <section id="serviços" class="box-services">
        <h2>Principais cidades</h2>
        <hr>
        <p>Aqui você vê em quais cidades estamos mais conectados!</p>
 
        <div class="container">

            <div class="card-services">
                <p>Recife</p>
            </div>

            <div class="card-services">
                <p>Jaboatão dos Guararapes</p>
            </div>

            <div class="card-services">
                <p>Cabo de Santo Agostinho</p>
            </div>

            <div class="card-services">
                <p>Olinda</p>
            </div>

         

        </div>
    </section>


</body>

</html>