{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>

    <link rel="stylesheet" href="{% static './css/reset.css' %}">
    <link rel="shortcut icon" href="{%static './icon/favicon-16x16.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{%static './css/estilo.css'%}">
    <script src="{% static './js/mobile-navbar.js' %}"></script>
</head>


<body id="home">

    <!--Início/home-->
    <header class="topo">

        <div class="container">

            <h1>CashToYou</h1>

            <nav>

                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/sobre/">Sobre</a></li>
                    <li><a href="/comofunciona/">Como funciona</a></li>
                    <li><a href="/perguntas/">Perguntas frequentes</a></li>
                    <li><a href="/principais-cidades/">Principais cidades</a></li>
                    <li><a href="/acesso/conta/"><button>Acesso</button></a>
                </ul>

            </nav>

        </div>
    </header>


</main>

<section class="form-login">
    <div class="container">

        <h2>Acesso empresa</h2>

        <form action="#" method="post">
            {% csrf_token %}
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" placeholder="Digite seu email" required>

            <label for="senha">Crie uma senha:</label>
            <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                       
            <a href="../programa/programaempresa.html"><button>Entrar</button></a>
            




</body>

</html>